.first-quarter {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #1F2937;
    padding-bottom: 48px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px red;
    margin-bottom: 48px;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8
}

.header-links li{
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    display: inline;
    flex-direction: column;
    margin: 0;
    padding: 12px;
}

.title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.subtext{
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.sign-up{
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    height: auto;
    width: auto;
    border: 0px;
    border-radius: 5px;
    padding-left:10px;
    padding-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    }

.second-quarter{
    display: flex;
    flex-direction: column;
}

.second-quarter-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.picture-area{
    margin-left: 400px;
    margin-right: 400px;
    gap: 12px;
}

.images{
    display: flex;
    justify-content: space-between;
    border: 5px solid red;
}

.images img{
    display: flex;
    border: 5px solid #3882F6;
    height: auto;
    width: auto;
    margin: 0;
    padding:0;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cards{
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(3, 3, 3);
}

.cards p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid orange;
    height: auto;
    width: auto;
    margin-top: 10px;
    padding:0px;
    height: 100px;
    width: 200px;
}